<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    
    <!-- FeedWatchではビジュアライザーがないため、RECORD_AUDIO権限は不要 -->
    <uses-permission 
        android:name="android.permission.RECORD_AUDIO"
        tools:node="remove" />
    
    <application
        android:name=".FeedWatchApplication">
        <activity
            android:name=".presentation.splash.SplashActivity"
            android:resizeableActivity="true"
            tools:targetApi="24" />
        <activity
            android:name=".presentation.setup.SetupActivity"
            android:resizeableActivity="true"
            tools:targetApi="24" />
        <activity
            android:name=".presentation.main.MainActivity"
            android:resizeableActivity="true"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout|keyboardHidden"
            tools:targetApi="24" />
    </application>
</manifest>
